name: Publish to VS Marketplace

# Triggered by a new GitHub Release being published. It expects to find
# two .visx assets in the Release:
#    EditorGuidelines.vsix and
#    EditorGuidelines.Dev17.vsix

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Fetch latest release assets
        uses: dsaltares/fetch-gh-release-asset@1.1.1
        with:
          file: *.vsix

      - name: Publish to VS marketplace
        id: publish
        uses: mrluje/vs-marketplace-publisher@v2.1.0
        with:
          pat: ${{ secrets.vs_pat }}
          manifestPath: marketplace/publishManifest.json
          vsixPath: EditorGuidelines.vsix

      - name: Publish Dev17 to marketplace
        id: publish
        uses: mrluje/vs-marketplace-publisher@v2
        with:
          pat: ${{ secrets.vs_pat }}
          manifestPath: marketplace/publishManifest.Dev17.json
          vsixPath: EditorGuidelines.Dev17.vsix
